// 字体设置
$smallFontSize: 12px;
$middleFontSize: 14px;
$normalFontSize: 16px;
$largeFontSize: 18px;
// 基本颜色
$lightGrey: #cccccc;
$lightBack: #333333;
$lightWhite:#FFFAFA;
$primaryColor:#009EFA;
$dangerColor:#CD3F2C;
$warningColor:#FFD343;
// 圆角
$smallBorderRadius: 2px;
$middleBorderRadius: 4px;
$largeBorderRadius: 8px;

@mixin commonTextColor {
  color: $lightWhite;
}

// 背景色
@mixin bg-color($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin bgColorMixin($type) {
  @include commonTextColor();

  @if $type=="default" {
    color: $lightBack;
    @include bg-color($lightWhite, 100%);
  }

  @if $type=="primary" {
    @include bg-color($primaryColor, 100%);
  }

  @else if $type=="danger" {
    @include bg-color($dangerColor, 100%);
  }

  @else if $type=="warning" {
    @include bg-color($warningColor, 100%);
  }
}

// 设置圆角大小
@function getRounded($rounded) {
  @if $rounded=="none" {
    @return 0;
  }

  @else if $rounded=="small" {
    @return $smallBorderRadius;
  }

  @else if $rounded=="middle" {
    @return $middleBorderRadius;
  }

  @else if $rounded=="large" {
    @return $largeBorderRadius;
  }

  @else if $rounded=="circle" {
    @return 50%;
  }
}

// 盒阴影
@mixin box-shadow($color, $opacity) {
  box-shadow: 3px 3px 5px rgba($color, $opacity);
}



// 设置边框
@mixin border($color) {
  border: 1px solid $color;
}

@mixin setBorder($type) {
  @if $type=="default" {
    @include border($lightGrey);
  }

  @if $type=="primary" {
    @include border($primaryColor);
  }

  @if $type=="danger" {
    @include border($dangerColor);
  }

  @if $type=="warning" {
    @include border($warningColor);
  }
}

// 设置hover之后的盒阴影
@mixin hoverBoxShadow($type) {

  &:hover {
    @if $type=="default" {
      @include box-shadow($lightGrey, 30%);
    }

    @if $type=="primary" {
      @include box-shadow($primaryColor, 30%);
    }

    @if $type=="danger" {
      @include box-shadow($dangerColor, 30%);
    }

    @if $type=="warning" {
      @include box-shadow($warningColor, 30%);
    }
  }

}

// 设置点击后的背景色
@mixin activeBgColor($type) {

  &:active {
    @if $type=="default" {
      @include bg-color(#000000, 10%);
    }

    @if $type=="primary" {
      @include bg-color($primaryColor, 80%);
    }

    @if $type=="danger" {
      @include bg-color($dangerColor, 80%);
    }

    @if $type=="warning" {
      @include bg-color($warningColor, 80%);
    }
  }

}

// flex布局
$flex: "flex";

.flex-base {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

// 鼠标形状
.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

// 禁用状态
@mixin disabled($type) {
  // .disableded {
  pointer-events: none;

  @if $type=="default" {
    @include bg-color($lightGrey, 30%);
  }

  @if $type=="primary" {
    @include bg-color($primaryColor, 50%);
  }

  @if $type=="danger" {
    @include bg-color($dangerColor, 50%);
  }

  @if $type=="warning" {
    @include bg-color($warningColor, 50%);
  }

  // }
}

// loading动画运动
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.fish__loading {
  transform-origin: center center;
  animation: loading linear infinite 1s;
  height: 100%;
}